html {
  font-size: 100%; // 1rem = 16px
  @media (max-width: $size-large-1) {
    font-size: 80%;
  }
  @media (max-width: $size-large-2) {
    font-size: 65%;
  }
  @media (max-width: $size-medium-1) {
    font-size: 55%;
  }
  @media (max-width: $size-medium-2) {
    font-size: 45%;
  }
  @media (max-width: $size-medium-3) {
    font-size: 35%;
  }
  @media (max-width: $size-small) {
    font-size: 20%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  background-color: $color-background-dark;
  filter: blur(50%);
}

.button-stage{
  margin: 3rem auto;
  text-decoration: none;
  padding: 1rem 2.5rem;
  background-color: $color-primary;
  color: $color-text-primary;
  font-size: 2rem;
  font-family: $font-main;
  font-weight: $font-regular;
}

.hidden{
  display: none;
}

.active{
  display: initial;
}