//fonts
$font-main: 'Source Sans Pro', sans-serif;

//font weights
$font-black: 900;
$font-bold: 700;
$font-semi-bold: 600;
$font-regular: 400;

//font sizes
$font-size-main-header: 7rem;

//colors
$color-text-primary: white;
$color-text-secondary: rgb(199, 194, 194);
$color-background-primary: black;
$color-primary: #E74C3C;
$color-start: #2ECC71;
$color-end: #C24E00;

