.pathfinder-wrapper{
  color: $color-text-primary;
  display: flex;
  @include flex(column, center, center);
  h1{
    margin-bottom: 2rem;
  }
}

.pathfinder{
  width: 45rem;
  display: grid;
  grid-template-rows: repeat(10, 4.5rem);
  grid-template-columns: repeat(10, 4.5rem);
  align-items: center;
  justify-items: center;
  
  box-sizing: border-box;

  .cell{
    border: 0.15rem solid $color-text-primary;
    height: 4.5rem;
    width: 4.5rem;

    &.selected{
        background-color: $color-primary;    
    }

    &.available{
        background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

